<!DOCTYPE html>
<html class="ui-mobile-rendering" lang="en">
<head>
    <title>Hoteles Solana</title>

    <!--<meta name="viewport" content="user-scalable=0, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />-->

    <meta http-equiv="Content-type" content="text/htm1;charset=utf-8">
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/jquery.mobile-1.3.2.css"/>

    <link rel="stylesheet" href="css/handler.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/responsive.css"/>

    <script>
        window.onerror = function(message, url, lineNumber) {
            console.log("Error: "+message+" in "+url+" at line "+lineNumber);
        }
    </script>

    <script type="text/template" id="cronograma_das">
        <div data-role="content">
            <div style="border-bottom: 1px rgba(233, 232, 232, 0.51) solid; overflow: hidden;">
                <div class="tap-view">
                    <div class="por_dia active">Por día</div>
                    <hr class="active"/>
                    <div class="favoritos">Favoritos</div>
                </div>
            </div>

            <div class="content_por_dia">
                <ul class="bxslider">
                </ul>
            </div>
            <div class="favorite" style="display: none">
                <ul>
                </ul>
            </div>

        </div>
    </script>
        <script type="text/template" id="item_favorite">
            <li>
                <div class="title-favorite"><%= formatDateLiteral(fecha) %></div>
                <ul class="list2">
                </ul>
            </li>
        </script>
        <script type="text/template" id="item_slider">
            <li class="type2">
                <div class="title">
                    <div class="slider_left"></div>
                    <h2><%= formatDayDate(fecha) %></h2>
                    <div class="slider_right"></div>
                </div>
                <div class="content-type2">
                    <ul class="list2">
                    </ul>
                </div>
            </li>
        </script>
        <script type="text/template" id="favorite">
            <li data-id="<%= id %>">
                <div class="time">
                    <%= fechahora.hhmm() %> hs
                </div>
                <div class="content-item">
                    <span class="title-item"><%= nombreactividad + id %></span>
                    <span class="subtitle-item"><%= tipoactividad %></span>
                    <span class="subtitle-item"><%= lugar %></span>
                    <span class="favorite-item"></span>
                </div>
            </li>
        </script>

    <!-- Nuevos Template-->
    <script type="text/template" id="menu">
        <div class="header" data-role="header" data-position="fixed" data-id="header">
            <% if(typeof(type) !== 'undefined' && type == 'back'){ %>
            <div class="back"></div>
            <% }else{ %>
            <div class="content-menu-izq">
                <div>
                    <div class="icon-izq"></div>
                    <div class="ave"></div>
                </div>

                <div class="fondo-menu"></div>
                <ul class="menu-izq">
                </ul>
            </div>

            <div class="search"></div>
            <div class="content-menu-der">
                <div class="icon-der"></div>
                <ul class="menu-der">
                </ul>
            </div>
            <% } %>

            <% if( typeof(title) !== 'undefined' && title != '') {%>
            <h1 class="title_header"><%= title %></h1>
            <% }else{%>
            <h1 class="logo"></h1>
            <% }%>
        </div>
    </script>
        <script type="text/template" id="item_menu">
        <% if(tipo=='principal_1'){ %>
        <li>
        <% }else{ %>
        <li class="icon icon_avisos" style="<%= imagen != ''? "background-image: url('"+ imagen+"')":'' %>">
        <% } %>
            <a href="#" data-role="none"><%= nombre %></a>
        </li>
    </script>

    <script type="text/template" id="index">
        <div data-role="content">
            <div class="banner_home"></div>
            <div class="img_home"></div>
        </div>
    </script>

    <script type="text/template" id="listCategorias">
        <div data-role="content" >
            <div class="content scrolling">
                <ul class="list">
                </ul>
                <div class="footer">
                    <div class="footer-logo" ></div>
                </div>
            </div>
        </div>
    </script>
        <script type="text/template" id="secundario">
            <li data-id="<%= id %>" class="item fade in">
                <div>
                    <div class="icon-item" style="background-image: url('<%= imagen %>')"></div>
                    <div class="txt-item">
                        <span class="title-item"><%= nombre %></span>

                        <% if(typeof(texto) !== 'undefined' && texto != ''){ %>
                        <span class="subtitle-item"><%= texto %></span>
                        <% } %>
                    </div>
                </div>
            </li>
        </script>
        <script type="text/template" id="galeria">
            <li class="galerias-item fade in">
                <div>
                    <%  var date = formatDateYear(fecha); %>
                    <img src="<%= imagen %>" alt="img" style="display: none" onload="loadImg(this);"/>
                    <div class="galeria-image loading"></div>
                    <span class="galeria-title"><%= nombre %></span>
                    <span class="galeria-date"><%= date[1] + ' ' +date[0] %></span>
                </div>
            </li>
        </script>
        <script type="text/template" id="subgaleria">
            <li class="galerias-item galerias-item-view fade in" >
                <div>
                    <img src="<%= imagen %>" alt="img" style="display: none" onload="loadImg(this);"/>
                    <div class="galeria-image galeria-image-view loading"></div>
                </div>
            </li>
        </script>
        <script type="text/template" id="video">

            <li  class="videos-item">
                <%
                var date = formatDateYear(fecha);
                var embed = url.split('watch?v=');
                var thumb = "http://img.youtube.com/vi/"+embed[1]+"/0.jpg";
                %>
                <div class="embed-video">
                    <!---<embed  wmode="opaque" salign="tl" allowscriptaccess="never" allowfullscreen="true" scale="scale" quality="high" bgcolor="#FFFFFF" src="https://www.youtube.com/v/<%= embed[1] %>?version=3&autohide=1&wmode=transparent&hl=en&fs=1&showinfo=0&modestbranding=1" type="application/x-shockwave-flash">-->
                    <iframe width="312" height="180" src="//www.youtube.com/embed/<%= embed[1] %>?version=3&rel=0&html5=True&autohide=1&wmode=transparent&hl=en&fs=1&showinfo=0&modestbranding=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="text-video">
                    <span class="title-video"><%= nombre %></span>
                    <span class="subtitle-video"><%= texto %></span>
                    <span class="date-video"><%= date[2]+' '+date[1]+', '+date[0] %></span>
                </div>
            </li>

        </script>
        <script type="text/template" id="aviso">
            <li class="item aviso fade in">
                <div class="icon-item" style="background-image: url('<%= icono %>');"></div>
                <div class="txt-item">
                    <span class="title-item"><%= titulo %></span>
                    <% if(typeof(descripcion) !== 'undefined' && descripcion != ''){ %>
                    <span class="subtitle-item"><%= descripcion %></span>
                    <% } %>
                </div>
            </li>
        </script>

    <script type="text/template" id="pagina">
        <div data-role="content" class="content scrolling">
            <div class="content-pagina"></div>
            <div class="footer">
                <div class="footer-logo" ></div>
            </div>
        </div>
    </script>
        <script type="text/template" id="type1">
            <div class="content-type1">
                <div class="datos">
                    <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                    <!--<div class="image" style="background-image: url('<%= imagen1 %>')"></div>-->
                    <img src="<%= imagen1 %>" alt="imagen_principal"/>
                    <% } %>

                    <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                    <span class="description"><%= contenido %></span>
                    <% } %>

                    <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                    <p class="title_horario">Horarios:</p>
                    <span class="description_horario"><%= descripcionhorario %></span>
                    <% } %>

                    <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                    <p class="title_horario" ><a href="<%= urlinterna %>" class="url-interna">Ir a Pagina</a></p>
                    <% } %>
                </div>
            </div>
        </script>
        <script type="text/template" id="type2">
            <div class="content-type2">
                <img src="<%= imagen1 %>" alt="tipe3"/>
                <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                <% } %>
            </div>
        </script>
        <script type="text/template" id="type3">
            <div class="content-type1">
                <div class="datos">
                    <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                    <img src="<%= imagen1 %>" alt=""/>
                    <% } %>

                    <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                    <span class="description"><%= contenido %></span>
                    <% } %>

                    <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                    <p class="title_horario">Horarios:</p>
                    <span class="description_horario"><%= descripcionhorario %></span>
                    <% } %>

                    <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                    <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                    <% } %>
                </div>
                <div class="btn-interesa">
                    Me interesa
                </div>
            </div>
        </script>
        <script type="text/template" id="type4">
            <div class="content-type1">
                <div class="datos">
                    <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                    <img src="<%= imagen1 %>" alt=""/>
                    <% } %>

                    <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                    <span class="description"><%= contenido %></span>
                    <% } %>

                    <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                    <p class="title_horario">Horarios:</p>
                    <span class="description_horario"><%= descripcionhorario %></span>
                    <% } %>

                    <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                    <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                    <% } %>
                </div>
                <div class="btn-reserva">
                    Reserva
                </div>
            </div>
        </script>
        <script type="text/template" id="reserva">
            <div class="content-form ui-popup-screen ui-overlay-a fade in">
                <div class="formulario ui-popup-container pop in ui-popup-active">
                    <ul>
                        <li>
                            <div>
                                <input type="text" placeholder="Nombre completo" data-role="none" name="nombre" value="<%= mobile.get('nombre')%>"/>
                            </div>
                            <hr/>
                        </li>
                        <li>
                            <div>
                                <input type="email" placeholder="Email" data-role="none" name="email" value="<%= mobile.get('email')%>"/>
                            </div>
                            <hr/>
                        </li>
                        <li>
                            <div>
                                <input type="tel" placeholder="Celular" data-role="none" name="celular" value="<%= mobile.get('celular')%>"/>
                            </div>
                            <hr/>
                        </li>
                    </ul>

                    <div class="btn-reserva">
                        Enviar
                    </div>
                    <div class="btn-cancelar">
                        Cancelar
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="promo">
            <div class="content-promo">
                <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                <div>
                    <img src="<%= imagen1 %>" alt="tipe3"/>
                </div>
                <% } %>
                <% if(typeof(imagen2) !== 'undefined' && imagen2 != ''){ %>
                <div>
                    <img src="<%= imagen2 %>" alt="tipe3"/>
                </div>
                <% } %>
                <% if(typeof(imagen3) !== 'undefined' && imagen3 != ''){ %>
                <div>
                    <img src="<%= imagen3 %>" alt="tipe3"/>
                </div>
                <% } %>
            </div>
        </script>
        <script type="text/template" id="embed">
            <div class="content-embed" style="width: 100%; height: 300px">
               <iframe style="width: 100%; height: 300px" src="http://www.google.com.uy/maps/place/Bethel+Spa/@-34.914291,-56.153466,17z/data=!3m1!4b1!4m2!3m1!1s0x959f8174a6c8eb9d:0x91d579909c1196fc?hl=en" frameborder="0"></iframe>
            </div>
        </script>
        <script type="text/template" id="fullView">
            <div class="fullview ui-popup-screen ui-overlay-a fade in" >
                <ul class="bxslider" >
                    <%  var i = 1;
                    _.each(collection,function(item){ %>
                    <li>
                        <div class="item-fullview">
                            <img src="<%= item.imagen %>" alt="image" onload="//center(this);"/>

                            <span class="nombre-image"><%= item.nombre %></span>
                            <span class="index-image"><%= i + '/' + collection.length %></span>

                        </div>
                    </li>
                    <% i++; }); %>
                </ul>
            </div>
        </script>

    <script type="text/javascript" src="phonegap.js"></script>

    <!-- The Scripts -->
    <script src="vendor/jquery-2.0.3.min.js"></script>

    <!-- The Scripts -->
    <script src="vendor/bxslider/iscroll-zoom.js"></script>
    <script src="vendor/bxslider/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="vendor/bxslider/jquery.bxslider.css"/>

    <script src="js/Storage.js"></script>
    <script src="js/PushNotification.js"></script>
    <script src="js/notifications.js"></script>

    <script src="js/jqm-config.js"></script>
    <script src="vendor/jquery.mobile-1.3.2.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/backbone.js"></script>

    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/router.js"></script>

    <script src="js/main.js"></script>



</head>
<body>
</body>

</html>
