<!DOCTYPE html>
<html class="ui-mobile-rendering" lang="en">
<head>
    <title>Hoteles Solana</title>

    <!--<meta name="viewport" content="user-scalable=0, initial-scale=1.0">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, height=device-height" />-->

    <meta http-equiv="Content-type" content="text/htm1;charset=utf-8">
    <meta charset="utf-8">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" href="css/jquery.mobile-1.3.2.css"/>

    <link rel="stylesheet" href="css/handler.css"/>
    <link rel="stylesheet" href="css/main.css"/>

    <script>
        window.onerror = function(message, url, lineNumber) {
            console.log("Error: "+message+" in "+url+" at line "+lineNumber);
        }
    </script>

    <script type="text/template" id="menu">
        <div class="header" data-role="header" data-position="fixed" data-id="header">
            <% if(typeof(type) !== 'undefined' && type == 'back'){ %>
            <div class="back"></div>
            <% }else{ %>
            <div class="content-menu-izq">
                <div>
                    <div class="icon-izq"></div>
                    <div class="ave"></div>
                </div>

                <div class="fondo-menu"></div>
                <ul class="menu-izq">
                    <!--<li><a href="#serv_horario" data-role="none">Servicios y horarios</a></li>
                    <li><a href="#cron_das" data-role="none">Cronograma D.A.S.</a></li>
                    <li><a href="#kids" data-role="none">Solanas Kids</a></li>
                    <li><a href="#plano_complejo" data-role="none">Plano del complejo</a></li>
                    <li><a href="#gastronomia" data-role="none">Gastronomía</a></li>
                    <li><a href="#serv_horario" data-role="none">Acesoramiento e Inversiones</a></li>
                    <li><a href="#serv_horario" data-role="none">Solanas Aventuras</a></li>
                    <li><a href="#convention_center" data-role="none">Solanas Convention Center</a></li>
                    <li><a href="#datos_utiles" data-role="none">Datos útiles</a></li>-->
                </ul>
            </div>

            <div class="search"></div>
            <div class="content-menu-der">
                <div class="icon-der"></div>
                <ul class="menu-der">
                    <!--<li class="icon_promo"><a href="#promos" data-role="none">Promo</a></li>
                    <li class="icon_galeria"><a href="#galerias" data-role="none">Galeria</a></li>
                    <li class="icon_videos"><a href="#videos" data-role="none">Videos</a></li>
                    <li class="icon_facebook"><a href="#facebook" data-role="none">Facebook</a></li>
                    <li class="icon_avisos"><a href="#avisos" data-role="none">Avisos</a></li>-->
                </ul>
            </div>
            <% } %>

            <% if( typeof(title) !== 'undefined' && title != '') {%>
            <h1 class="title_header"><%= title %></h1>
            <% }else{%>
            <h1 class="logo"></h1>
            <% }%>
        </div>
    </script>
        <script type="text/template" id="item_menu">
            <% if(tipo=='principal1'){ %>
                <li>
            <% }else{ %>
                <li class="icon" style="background-image: url('<%= imagen %>')">
            <% } %>
                    <a href="#datos_utiles" data-role="none"><%= nombre %></a>
                </li>
        </script>

    <script type="text/template" id="index">
        <div data-role="content">
            <div class="banner_home"></div>
            <div class="img_home"></div>
        </div>
    </script>

    <script type="text/template" id="cronograma_das">
        <div data-role="content">
            <div style="border-bottom: 1px rgba(233, 232, 232, 0.51) solid; overflow: hidden;">
                <div class="tap-view">
                    <div class="por_dia active">Por día</div>
                    <hr class="active"/>
                    <div class="favoritos">Favoritos</div>
                </div>
            </div>
            <div class="content_por_dia">
                <ul class="bxslider">
                    <li class="type2">
                        <div class="title">
                            <div class="slider_left"></div>
                            <h2>Sabado</h2>
                            <div class="slider_right"></div>
                        </div>
                        <div class="content-type2">
                            <ul class="list2">
                                <% for(var i=0; i<30; i++){ %>
                                <li>
                                    <div class="time">
                                        10:00 hs
                                    </div>
                                    <div class="content-item">
                                        <span class="title-item">Nombre de Actividad</span>
                                        <span class="subtitle-item">Tipo de actividad</span>
                                        <span class="subtitle-item">Lugar de actividad</span>
                                        <span class="favorite-item">Agregar a Favoritos</span>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                    <li class="type2">
                        <div class="title">
                            <div class="slider_left"></div>
                            <h2>Hoy</h2>
                            <div class="slider_right"></div>
                        </div>
                        <div class="content-type2">
                            <ul class="list2">
                                <% for(var i=0; i<30; i++){ %>
                                <li>
                                    <div class="time">
                                        10:00 hs
                                    </div>
                                    <div class="content-item">
                                        <span class="title-item">Nombre de Actividad</span>
                                        <span class="subtitle-item">Tipo de actividad</span>
                                        <span class="subtitle-item">Lugar de actividad</span>
                                        <span class="favorite-item">Agregar a Favoritos</span>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                    <li class="type2">
                        <div class="title">
                            <div class="slider_left"></div>
                            <h2>Lunes</h2>
                            <div class="slider_right"></div>
                        </div>
                        <div class="content-type2">
                            <ul class="list2">
                                <% for(var i=0; i<30; i++){ %>
                                <li>
                                    <div class="time">
                                        10:00 hs
                                    </div>
                                    <div class="content-item">
                                        <span class="title-item">Nombre de Actividad</span>
                                        <span class="subtitle-item">Tipo de actividad</span>
                                        <span class="subtitle-item">Lugar de actividad</span>
                                        <span class="favorite-item">Agregar a Favoritos</span>
                                    </div>
                                </li>
                                <% } %>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="favorite" style="display: none">
                <ul>
                    <li>
                        <div class="title-favorite">Lunes 6 de Octubre</div>
                        <ul class="list2">
                            <% for(var i=0; i<2; i++){ %>
                            <li>
                                <div class="time">
                                    10:00 hs
                                </div>
                                <div class="content-item">
                                    <span class="title-item">Nombre de Actividad</span>
                                    <span class="subtitle-item">Tipo de actividad</span>
                                    <span class="subtitle-item">Lugar de actividad</span>
                                    <span class="favorite-item">Agregar a Favoritos</span>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                    <li>
                        <div class="title-favorite">Martes 7 de Octubre</div>
                        <ul class="list2">
                            <% for(var i=0; i<2; i++){ %>
                            <li>
                                <div class="time">
                                    10:00 hs
                                </div>
                                <div class="content-item">
                                    <span class="title-item">Nombre de Actividad</span>
                                    <span class="subtitle-item">Tipo de actividad</span>
                                    <span class="subtitle-item">Lugar de actividad</span>
                                    <span class="favorite-item active">Eliminar de Favoritos</span>
                                </div>
                            </li>
                            <% } %>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </script>

    <script type="text/template" id="view_list">
        <div data-role="content" class="content">
            <ul class="list">
            </ul>
        </div>
    </script>
        <script type="text/template" id="item_list">
            <li data-id="<%= id %>" class="item">
                <div class="icon-item" style="background-image: url('<%= typeof(icono) !== 'undefined'? icono : imagen %>')"></div>
                <div class="txt-item">
                    <span class="title-item"><%= titulo %></span>

                    <% if(typeof(horario) !== 'undefined' && horario != ''){ %>
                    <span class="subtitle-item"><%= horario %></span>
                    <% } %>
                </div>
            </li>
        </script>
            <script type="text/template" id="type1_list_view">

                <div data-role="content">
                    <div class="content-type1">
                        <% if(typeof(imagen) !== 'undefined' && imagen != ''){ %>
                        <div class="image" style="background-image: url('<%= imagen %>')"></div>
                        <% } %>

                        <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                        <span class="description"><%= contenido %></span>
                        <% } %>

                        <% if(typeof(horariosescritos) !== 'undefined' && horariosescritos != ''){ %>
                        <p class="title_horario">Horarios:</p>
                        <span class="description_horario"><%= horariosescritos %></span>
                        <% } %>

                        <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                        <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                        <% } %>
                    </div>
                </div>
                <div class="footer" data-role="footer" data-position="fixed" data-id="footer">
                    <div class="footer-type1" ></div>
                </div>
            </script>

    <script type="text/template" id="gastronomia">
        <div data-role="content">
            <ul class="list">
                <% for(var i=0; i<30; i++){ %>
                <li data-id="<%= i %>" class="item">
                    <div class="icon-item" style="background-image: url(img/img3.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Kaluha <%= i %></span>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </script>
        <script type="text/template" id="item_gastronomia">
            <div class="header" data-role="header" data-position="fixed" data-id="header">
                <div class="back"></div>
                <h2 class="title_header"><%= title %></h2>
            </div>

            <div data-role="content">
                <div class="content-type3">
                    <img src="img/img3.png" alt="tipe3"/>
                </div>
            </div>
            <div class="footer" data-role="footer" data-position="fixed" data-id="footer">
                <div class="footer-type1" ></div>
            </div>
        </script>

    <script type="text/template" id="videos">
        <div data-role="content" class="content-videos">
            <ul class="list">
            </ul>
        </div>
    </script>
        <script type="text/template" id="video_list">
            <li  class="videos-item">
                <%
                    var res = urlexterna.split('watch?v=');
                    var date = formatDateYear(fecha);
                %>
                <!--<iframe width="100%" height="184"
                        src="http://www.youtube.com/embed/<%= res[1] %>?html5=1">
                </iframe>-->
                <embed src="http://www.youtube.com/v/<%= res[1] %>?&amp;hl=en&amp;fs=1"
                       type="application/x-shockwave-flash"
                       allowfullscreen="true"
                       width="100%" height="184">
                <div>
                    <span class="title-video"><%= titulo %></span>
                    <span class="subtitle-video"><%= descripcion %></span>
                    <span class="date-video"><%= date[2]+' '+date[1]+', '+date[0] %></span>
                </div>
            </li>
        </script>

    <script type="text/template" id="galerias">
        <div data-role="content" class="content-galerias">
            <ul class="list">
            </ul>
        </div>
    </script>
        <script type="text/template" id="item_galery">
            <li class="galerias-item">
                <div>
                    <%  var date = formatDateYear(fecha); %>
                    <div class="galeria-image" style="background-image: url(<%= imagen %>);"></div>
                    <span class="galeria-title"><%= titulo %></span>
                    <span class="galeria-date"><%= date[1] + ' ' +date[0] %></span>
                </div>
            </li>
        </script>

        <script type="text/template" id="item_galerias">
            <div data-role="content">
                <ul class="list list-item-gallery">
                    <% for(var i=0; i<15; i++){ %>
                    <li class="galerias-item galerias-item-view" >
                        <div>
                            <div class="galeria-image galeria-image-view" style="background-image: url('assets/img_home.png');"></div>
                        </div>
                    </li>
                    <% } %>
                </ul>
            </div>
        </script>

    <script type="text/template" id="datos_utiles">
        <div data-role="content">
            <ul class="list">
                <li class="item">
                    <div class="icon-item" style="background-size: 50%;background-image: url(assets/clima.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Clima</span>
                        <span class="subtitle-item">Ver pronóstico del tiempo</span>
                    </div>
                </li>
                <li class="item">
                    <div class="icon-item" style="background-size: 50%;background-image: url(assets/map.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Puntos de Interés</span>
                        <span class="subtitle-item">Lugares en Punta del Este</span>
                    </div>
                </li>
                <li class="item">
                    <div class="icon-item" style="background-size: 50%;background-image: url(assets/map-route.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Cómo llegar</span>
                        <span class="subtitle-item">Direcciones desde y hasta</span>
                    </div>
                </li>
                <li class="item">
                    <div class="icon-item" style="background-size: 50%;background-image: url(assets/transporte.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Transporte local</span>
                        <span class="subtitle-item">Horarios de ómnibus</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer" data-role="footer" data-position="fixed" data-id="footer">
            <div class="footer-type1" ></div>
        </div>
    </script>

    <script type="text/template" id="avisos">
        <div data-role="content">
            <ul class="list">
                <% for(var i=0; i<5; i++){ %>
                <li class="item">
                    <div class="icon-item" style="background-size: 50%;background-image: url(img/campana.png);"></div>
                    <div class="txt-item">
                        <span class="title-item">Notificación <%= i %></span>
                        <span class="subtitle-item">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit.
                            Nam placerat eu sem a interdum.</span>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
        <div class="footer" data-role="footer" data-position="fixed" data-id="footer">
            <div class="footer-type1" ></div>
        </div>
    </script>

    <script type="text/template" id="type3_list_view">
        <div data-role="content">
            <div class="content-type3">
                <img src="<%= imagen %>" alt="tipe3"/>
            </div>
            <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
        </div>
        <div class="footer" data-role="footer" data-position="fixed" data-id="footer">
            <div class="footer-type1" ></div>
        </div>
    </script>

    <!-- Nuevos Template-->
    <script type="text/template" id="listSecundario">
        <div data-role="content" class="content">
            <ul class="list">
            </ul>
            <div class="footer">
                <div class="footer-type1" ></div>
            </div>
        </div>
    </script>

        <script type="text/template" id="aviso">
            <li class="item aviso">
                <div class="icon-item" style="/*background-size: 50%;*/background-image: url(<%= icono %>);"></div>
                <div class="txt-item">
                    <span class="title-item"><%= titulo %></span>
                    <% if(typeof(descripcion) !== 'undefined' && descripcion != ''){ %>
                    <span class="subtitle-item"><%= descripcion %></span>
                    <% } %>
                </div>
            </li>
        </script>
    <script type="text/template" id="pagina">
        <div data-role="content" class="content">
            <div class="content-pagina"></div>
            <div class="footer">
                <div class="footer-type1" ></div>
            </div>
        </div>
    </script>
        <script type="text/template" id="type1">
            <div class="content-type1">
                <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                <div class="image" style="background-image: url('<%= imagen1 %>')"></div>
                <% } %>

                <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                <span class="description"><%= contenido %></span>
                <% } %>

                <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                <p class="title_horario">Horarios:</p>
                <span class="description_horario"><%= descripcionhorario %></span>
                <% } %>

                <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                <% } %>
            </div>
        </script>
        <script type="text/template" id="type2">
            <div class="content-type2">
                <img src="<%= imagen1 %>" alt="tipe3"/>
                <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
            </div>
        </script>
        <script type="text/template" id="type3">
            <div class="content-type1">
                <div class="datos">
                    <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                    <div class="image" style="background-image: url('<%= imagen1 %>')"></div>
                    <% } %>

                    <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                    <span class="description"><%= contenido %></span>
                    <% } %>

                    <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                    <p class="title_horario">Horarios:</p>
                    <span class="description_horario"><%= descripcionhorario %></span>
                    <% } %>

                    <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                    <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                    <% } %>
                </div>
                <div class="btn-interesa">
                    Me interesa
                </div>
            </div>
        </script>
        <script type="text/template" id="type4">
            <div class="content-type1">
                <div class="datos">
                    <% if(typeof(imagen1) !== 'undefined' && imagen1 != ''){ %>
                    <div class="image" style="background-image: url('<%= imagen1 %>')"></div>
                    <% } %>

                    <% if(typeof(contenido) !== 'undefined' && contenido != ''){ %>
                    <span class="description"><%= contenido %></span>
                    <% } %>

                    <% if(typeof(descripcionhorario) !== 'undefined' && descripcionhorario != ''){ %>
                    <p class="title_horario">Horarios:</p>
                    <span class="description_horario"><%= descripcionhorario %></span>
                    <% } %>

                    <% if(typeof(urlinterna) !== 'undefined' && urlinterna != ''){ %>
                    <p class="title_horario" ><a href="<%= urlinterna %>">Ir a Pagina</a></p>
                    <% } %>
                </div>
                <div class="btn-reserva">
                    Reserva
                </div>
            </div>
        </script>
        <script type="text/template" id="reserva">
            <div class="content-form fade in">
                <div class="fondo"></div>
                <div class="formulario">
                    <ul>
                        <li>
                            <div>
                                <input type="text" placeholder="Nombre completo" data-role="none"/>
                            </div>
                            <hr/>
                        </li>
                        <li>
                            <div>
                                <input type="email" placeholder="Email" data-role="none"/>
                            </div>
                            <hr/>
                        </li>
                        <li>
                            <div>
                                <input type="tel" placeholder="Celular" data-role="none"/>
                            </div>
                            <hr/>
                        </li>
                    </ul>

                    <div class="btn-reserva">
                        Enviar
                    </div>
                    <div class="btn-cancelar">
                        Cancelar
                    </div>
                </div>
            </div>
        </script>
        <script type="text/template" id="promo">
            <div class="content-promo">
                <div>
                    <img src="<%= imagen1 %>" alt="tipe3"/>
                </div>
                <div>
                    <img src="<%= imagen2 %>" alt="tipe3"/>
                </div>
                <div>
                    <img src="<%= imagen3 %>" alt="tipe3"/>
                </div>
            </div>
        </script>

    <script type="text/javascript" src="phonegap.js"></script>

    <!-- The Scripts -->
    <script src="vendor/jquery-2.0.3.min.js"></script>

    <!-- The Scripts -->
    <script src="vendor/bxslider/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="vendor/bxslider/jquery.bxslider.css"/>

    <script src="js/Storage.js"></script>
    <script src="js/PushNotification.js"></script>
    <script src="js/notifications.js"></script>

    <script src="js/jqm-config.js"></script>
    <script src="vendor/jquery.mobile-1.3.2.js"></script>
    <script src="vendor/underscore.js"></script>
    <script src="vendor/backbone.js"></script>

    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/router.js"></script>

    <script src="js/main.js"></script>



</head>
<body>
</body>

</html>
